.login-base {
    height: 90%;
    width: 100%;
    justify-content: center;
    display: flex;
}

.logo {
    justify-content: center;
    display: flex;
}

.login-card {
    width: max-content;
    height: max-content;
}

.login-btn {
    width: 100%;
}

.login-form-item {
    margin-bottom: 10px;
}

.login-container {
    justify-content: center;
    display: flex;
}

.register-link-container {
    justify-content: right;
    display: flex;
}

.social-item {
    width: 64px;
    height: 64px;
    background-color: var(--light-color);
    border-radius: 50%;
    justify-content: center;
    display: flex;
}

.social-icon {
    width: 80%;
    position: relative;
    top: 10%;
    left: 10%;
}

.login-alert {
    margin-bottom: 10px;
}