.login-base {
    height: 90%;
    width: 100%;
    justify-content: center;
    display: flex;
}

.logo {
    justify-content: center;
    display: flex;
}

.login-card {
    width: max-content;
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-title{
    color: #00800B;
}

.login-btn {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    border: 1px solid #00CC11;
    background: #00CC11;
}

.login-btn:focus{
    border: 1px solid #00CC11;
    background: #00CC11;
}

.login-btn:hover,
.login-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #00CC11;
  border: 1px solid;
}

.login-btn:active {
  opacity: .5;
}

.login-form-item {
    margin-bottom: 10px;
}

.login-container {
    justify-content: center;
    display: flex;
}

.register-link-container {
    justify-content: right;
    display: flex;
}

.social-item {
    width: 64px;
    height: 64px;
    background-color: var(--light-color);
    border-radius: 50%;
    justify-content: center;
    display: flex;
}

.social-icon {
    width: 80%;
    position: relative;
    top: 10%;
    left: 10%;
}

.login-alert {
    margin-bottom: 10px;
}



