.profile-page{
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* #root{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-card-bordered{ 
  border-radius: 10px;
  width: 60%;
  height: 60%;
  overflow: hidden;
} */
  
.profile-card-container{
  width: 60%;
  height: 60%;
  padding: 0px;
}

.profile-card-container .ant-card-body{
  padding: 0;
  height: 100%;
}

.profile-page .ant-card-bordered{
  border-radius: 10px;
  border: none;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.row-container{
  width: 100%;
  height: 100%;
}

.avatar{
  background-image: linear-gradient(to top, rgba(255, 183, 0, 0.507), rgb(255, 153, 0));
}

.information{
}

.information-container{
  margin-left: 25px;
  align-items: center;
  height: 100%;
}

.edit-profile-button{
 background: #f74d58;
 border-color: #f74d58;
 border-radius: 4px;
}