.round {
  border-radius: 5px;
}
.input-field {
  width: 100%;
  /* padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1; */
}

.register-btn {
  width: 50%;
}

.register-container {
  justify-content: center;
  display: flex;
  margin-top: 25px;
}

.alert {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
  width: 500px;
}

